Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# force all requests to HTTPS
RewriteCond %{SERVER_PORT} !443
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R]

RewriteRule ^account/?$ view/account/view.php
RewriteRule ^account/division_controller/?$ view/account/division_controller.php
RewriteRule ^account/create_controller/?$ view/account/create_controller.php

RewriteRule ^administration/?$ view/admin/administration.php

RewriteRule ^contact_us/?$ view/contact/contact_us.php
RewriteRule ^report_issue/?$ view/contact/report_issue.php

#RewriteRule ^$ /view/landing/index.php [L]

RewriteRule ^league/?$ view/league/view.php

RewriteRule ^league_admin/?$ view/league_admin/view.php
RewriteRule ^league_admin/recreate_schema_confirm/?$ view/league_admin/recreate_schema_confirm.php
RewriteRule ^league_admin/recreate_schema_controller/?$ view/league_admin/recreate_schema_controller.php
RewriteRule ^league_admin/create_controller/?$ view/league_admin/create_controller.php
RewriteRule ^league_admin/delete_controller/?$ view/league_admin/delete_controller.php

RewriteRule ^login/?$ view/login/login.php
RewriteRule ^logout/?$ view/login/logout.php
RewriteRule ^register/?$ view/login/register.php
RewriteRule ^retrieve_password/?$ view/login/retrieve_password.php
RewriteRule ^update_password/?$ view/login/update_password.php
RewriteRule ^update_user/?$ view/login/update_user.php

RewriteRule ^score/?$ view/score/view.php
RewriteRule ^score/score_controller/?$ view/score/score_controller.php

RewriteRule ^user_admin/?$ view/user_admin/view.php
RewriteRule ^user_admin/recreate_schema_confirm/?$ view/user_admin/recreate_schema_confirm.php
RewriteRule ^user_admin/recreate_schema_controller/?$ view/user_admin/recreate_schema_controller.php
RewriteRule ^user_admin/create_controller/?$ view/user_admin/create_controller.php
RewriteRule ^user_admin/delete_controller/?$ view/user_admin/delete_controller.php