table {
    border: 1px dashed;
    margin-bottom: 20px;
}
.id {
    width: 10em;
}
.name {
    width: 15em;
}
.long_name {
    width: 30em;
}
.email {
    width: 15em;
}
.address {
    width: 50em;
}
.session {
    width: 40em;
}
.status {
    width: 10em;
}
.date {
    width: 10em;
}
.button {
    width: 5em;
}
.last {
    border-right: 0px;
}
td {
    text-align: center;
    border-top: 1px dashed;
}
td:not(.last) {
    border-right: 1px dashed;
}
input {
    width: 90%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
    .id {
        width: 8em;
    }
    .name {
        width: 10em;
    }
    .long_name {
        width: 20em;
    }
    .email {
        width: 10em;
    }
    .address {
        width: 30em;
    }
    .session {
        width: 20em;
    }
    .status {
        width: 8em;
    }
    .date {
        width: 8em;
    }
    .button {
        width: 3em;
    }
}
