table {
    border: 1px dashed;
    margin-bottom: 20px;
}
.id {
    width: 10em;
}
.name {
    width: 15em;
}
.email {
    width: 15em;
}
.address {
    width: 50em;
}
.session {
    width: 40em;
}
.status {
    width: 10em;
}
.date {
    width: 10em;
}
.button {
    width: 5em;
    border-right: 0px;
}
td {
    text-align: center;
    border-top: 1px dashed;
    border-right: 1px dashed;
}
input {
    width: 90%;
}
